/*****************************************************************************************************
******************************************Start NAVBAR************************************************
*****************************************************************************************************/

header{
    height: 5em;
    display:flex ;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color .4s ease-in-out;
}

header.scrolled{
    background-color: #2a4851;
    opacity: 0.80;
    box-shadow: 5px 1px 1px rgb(43, 41, 41);
}
body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(229, 215, 215);
    background-image: url(44.jpg);
    
}
.all {
    height: 1500px;
    padding: 2em 6em 2em 6em;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }


.navbar {
    
    width: 100%;
    overflow: hidden;
    height: 80px; /* Increased height */
    

    
    
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 25px; /* Adjusted padding for vertical centering */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition */
}

.navbar a:hover {
    color: #ec9461;
    font-size: large; /* Change of text color on hover */
}


.logo_container{
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 32px;
}

.logo_container h1 span{
    font-weight: 800;
}
.logo_container #EGYPT{
    color: #d3ac84;
}

.li-hidden{
    display: none;
}

.navbar .page-total{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    float: none;
    position: absolute;
    left: 30%;
    list-style-type: none;
    height: 100%;
}
.ul-page-total{
    list-style-type: none;
    display: flex;    
}




.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 20px 16px; /* Adjusted padding for vertical centering */
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition */
    list-style-type: none; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a4851;
    min-width: 160px;
    z-index: 1;

        list-style-type: none;
      
      
    
}
.ul-page-total .home{
    color: #d3ac84;
    font-size: 20px;
    
}
.ul-page-total .home:hover{
    color: #774529;
    font-size: 22px;

}
.dropdown-content a {
    width: 100%;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #d3ac84;
    color: #774529;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-button {
    background-color: #d3ac84;
    color: #333;
    border: none;
    border-radius: 80%; /* Circular shape */
    padding: 14px 15px;
    margin: 18px 21px; /* Adjusted margin for vertical centering */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    float: right;
}

.login-button:hover {
    background-color: #774529; /* Darker background on hover */
    color: #fff; /* White text on hover */
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 14px 16px; /* Adjusted padding */
        box-sizing: border-box; /* Include padding in width calculation */
    }

    .navbar .logo {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 20px 16px; /* Adjusted padding */
        box-sizing: border-box; /* Include padding in width calculation */
    }
    .logo_container h1{
        font-size: 20px;
        padding-bottom: 10px;
        
    }
    .menu {
        width: 20px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 4px 5px;
      }
      
      .login-button {
        padding: 9px 10px;
    }
    .ul-page-total{
        display: none;
    }
    .li-hidden{
        display: block;
    }
}
/*****************************************************************************************************
******************************************END NAVBAR**************************************************
*****************************************************************************************************/



